.container{
    background-color: grey;
    height: 100vh;
}

li{
    list-style: none;
    font-style: none;
    margin: 3rem;
    
} 

li > a{
    padding: 3rem;
    text-decoration: none;
    color: black;
    font-size: 3rem;
    
}
a:hover{
    background-color: rgb(212, 75, 75);
}

ul{
    background-color: rgb(206, 97, 97);
}

img{
    height: 100%;
}

